<ion-content [fullscreen]="true">
  <ion-slides 
    pager="true"
    [options]="slideOptions"
  >
    <ion-slide *ngFor="let slide of slides">
      <ion-card color="transparnt">
        <ion-img 
          class="mb-img"
          [src]="slide.img"           
          alt="Silhouette of mountains" 
          loading="lazy" 
        />
        <ion-card-header>
          <ion-card-title>{{ slide.title }}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <p>{{ slide.description }}</p>
              </ion-col>
              <ion-col *ngIf="slide.hasAction" size="12">
                <ion-button (click)="slide.action()">{{ slide.textButton }}</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>    
    </ion-slide>    
  </ion-slides>
</ion-content>
