<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>Autores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="cursor-pointer" *ngFor="let author of authors" (click)="showBooks(author)">
      <ion-avatar>
        <img src="{{ author.photo }}" />
      </ion-avatar>
      <ion-label>{{author.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>