/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.flex {
    display: flex;    
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.p-1 {
    padding: .7rem;
}

.mt-1 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 3.5rem;
}

.ml-1 {
    margin-left: .5rem;
}

.ml-2 {
    margin-left: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.m-auto {
    margin: auto;
}

.mt-auto {
    margin-top: auto;
}

.align-items-center {
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-primary {
    --background: var(--ion-color-app-primary);
}

.btn-primary {
	--background: var(--ion-color-app-primary);
	--background-hover: var(--ion-color-app-primary-shade);
	--background-activated: var(--ion-color-app-primary-shade);
	--background-focused: var(--ion-color-app-primary-shade);

    --text-transform: uppercase;
}

.h-100 {
    height: 100vh;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.text-red {
    color: var(--ion-color-app-primary);
    --color: var(--ion-color-app-primary);
}