<ion-content [fullscreen]="true">
  <ion-slides 
    pager="true"
    [options]="slideOptions"
  >
    <ion-slide>
      <ion-card color="transparnt">
        <ion-img 
          class="mb-img"
          src="/assets/images/home/slide-1.svg"           
          alt="Silhouette of mountains" 
          loading="lazy" 
        />
        <ion-card-header>
          <ion-card-title>BUSCA</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>
            Busca y encuentra tus libros favoritos en un solo lugar 😎
          </p>
        </ion-card-content>
      </ion-card>    
    </ion-slide>
    <ion-slide>
      <ion-card color="transparnt">
        <ion-img 
          class="mb-img"
          src="/assets/images/home/slide-2.svg"           
          alt="Silhouette of mountains" 
          loading="lazy" 
        />
        <ion-card-header>
          <ion-card-title>SELECCIONA</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <p>
            Selecciona los libros que deseas leer y audiolibros a escuchar 🔊🎧📚
          </p>
        </ion-card-content>
      </ion-card>    
    </ion-slide>
    <ion-slide>
      <ion-card color="transparnt">
        <ion-img 
          class="mb-img"
          src="/assets/images/home/slide-3.svg"           
          alt="Silhouette of mountains" 
          loading="lazy" 
        />
        <ion-card-header>
          <ion-card-title>LEE Y DISFRUTA</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <p>Disfruta de toda tu selección, todos sin ningun costo 😱</p>
              </ion-col>
              <ion-col size="12">
                <ion-button>¡Vamos!</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>    
    </ion-slide>
  </ion-slides>
</ion-content>
